* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px Helvetica, Arial;
}

form {
    background: #4d2a2a;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    flex: flex;
}

#m-box {
    width:78%;
    color: white;
}

form input {
    border: 0;
    padding: 10px;
    width: 78%;
    margin-right: 0.5%;
}

form button:hover {
    background: rgb(200, 300, 300);
    width: 10%;
}

form button {
    width: 9.5%;
    background: rgb(130, 224, 255);
    border: none;
    border-radius: 10%;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
    /*margin-bottom: 1px;*/
}

.acknowledgement {
    font-family: "Courier New", Courier, monospace;
    font-size: 75%;
    background-color: lightgreen;
    margin-bottom: 1px;
}

.not-my-msg {
    background-color: lightblue;
    border-bottom: white solid 1px;
}

.my-msg {
    background-color: lightgreen;
}

#msg-1 {
    font-weight: bold;
    background: lightgrey;
}