/* Chat Container */
.chat {
    display: flex;
    flex-direction: row;
}

/* Chat Sidebar Styles */

.chat_sidebar {
    padding: 1%;
    height: 100vh;
    color: white;
    background-color: #0c0d14;
    width: 20vw;
    overflow-y: scroll;
    overflow: hidden;
}

.list_title {
    font-family: 'Satisfy', cursive;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 20px;
    padding: 12px 24px 0 24px;
}

.users {
    font-weight: 300;
    padding: 12px 30px 0 30px;
}

.chats li {
    margin: 15px;
}

.room_title {
    font-family: 'Bangers', cursive;
    font-size: 26px;
    height: 25px;
    word-wrap: break-word;
}

.room_title a {
    color: pink;
}

.room_title a:hover {
    color: lightblue;
}

.room_title a:visited {
    color: pink;
}

.room_title a:active {
    color: red;
}

#active_chat {
    color: lightgreen;
}

/* Main Chat Page */
.chat_main {
    width: 79vw;
}

.chat_name {
    height: 5.5vh;
    background-color: #cc7676;
    text-align: center;
    width: 80vw;
    color: white;
}

.chat_name span{
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
    color: white;
}

.name {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: x-large;
}

form {
    background: lightgrey;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 80%;
    height: 8.5%;
}

#m-box {
    width: 76%;
    color: blue;
}

form input {
    border-bottom: 3px solid grey;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 10px;
    width: 78%;
    margin-right: 0.5%;
    background: lightgrey;
    box-shadow: 0;
    transition: border-bottom 1s;
}

form input:focus {
    border-bottom: 3px solid lightblue;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

form button:hover {
    background: rgb(200, 300, 300);
    width: 11%;
}

form button {
    width: 10%;
    background: rgb(130, 224, 255);
    border: none;
    border-radius: 10%;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 86%;
    top: initial;
    position: fixed;
    overflow-y: scroll;
    overflow: hidden;
    width: 80%;
    background: url('/public/assets/img/name.jpg');
    background-size: cover;
}

#messages li {
    padding: 5px 10px;
    /*margin-bottom: 1px;*/
}

.acknowledgement-cont {
    align-content: right;
    text-align: right;
    margin-bottom: 1px;
}

.acknowledgement {
    font-family: "Courier New", Courier, monospace;
    font-size: 75%;
    background-color: lightgrey;
    margin-bottom: 1px;
    text-align: right;
    border-radius: 5px;
    padding: 2px;
}

.receipt-cont {
    margin-bottom: 1px;
}

.receipt {
    font-family: "Courier New", Courier, monospace;
    font-size: 75%;
    background-color: lightgrey;
    margin-bottom: 1px;
    border-radius: 5px;
    padding: 2px;
}

.not-my-msg-cont {
    margin-bottom: 1px;
    word-wrap: break-word;
}

.not-my-msg {
    background-color: lightblue;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 1px;
    overflow-wrap: break-word;
    /*border-bottom: white solid 1px;*/
}

.my-msg-container {
    align-content: right;
    text-align: right;
    margin-bottom: 1px;
    word-wrap: break-word;
}

.my-msg {
    background-color: lightgreen;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 1px;
    overflow-wrap: break-word;
}

#not-my-msg-1 {
    margin-top: 5px;
    font-weight: bold;
}

#receipt-1 {
    width: 0px;
}

@media screen and (max-width: 480px) {
  .chat_sidebar {
    width: 0vw;
    display: none;
    }
  form {
    width: 100vw;
  }

  #messages {
    width: 100vw;
  }

  .chat_name {
    width: 100vw;
  }

  #m-box {
    width: 67%;
  }

  form button {
    width: 15%;
  }
}